.my-list {
    Margin: 0 auto;
    width: 500px;
    padding: 8px 24px;
    font-size: 30px;
    background-color: #f7f381;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
}

.my-list > p {
    text-align: center;
}

.my-list > ol {
    margin: 12px;
}