html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.section {
    margin: 128px 256px;
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.section__heading {
    font-family: Georgia, serif;
    line-height: 1.2;
}