.frame {
    position: absolute;
    top: 250px;
    left: 180px;
}

.frame__content {
    position: relative;
    bottom: 50px;
    left: 8px;
}

.frame__title {
    margin: 0px;
    font-size: 16px;
}

.frame__price {
    padding-left: 3px;
    color: gray;
    font-size: 14px;
}