* {
    margin: 0;
    padding:0;
}

.page {
    display: flex;
    flex-wrap: wrap;
    margin: 64px 100px;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;

    border-bottom: 3px solid black;
    padding: 16px 0;
}

.header__title {
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header__nav {
    display: flex;
    gap: 42px;
    justify-content: space-around;
    padding: 0 24px;
    list-style-type: none;
    font-size: 1.2rem;
}

.header__link {
    text-decoration: none;
    color: green;
}

.main {
    flex-basis: 100%;
    padding: 48px 0;
}

.main__heading {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.main__paragraph {
    margin-top: 24px;
    line-height: 1.5;
}

.footer {
    display: flex;
    align-items: center;
    flex-basis: 100%;

    padding: 12px 24px;
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
}

