html {
    font-size: 12px;
}

.page {
    margin: 15px 25px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.heading--primary {
    font-family: "Merriweather Bold", serif;
    font-size: 1.4rem;
}

.header {
    display: flex;
}

.header__heading--primary {
    margin-bottom: 5px;
    color: rgb(141, 0, 141);
    text-transform: capitalize;
}

.header__heading--secondary {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 8px;
    text-transform: uppercase;
}

.hero {
    display: flex;
    gap: 1rem;
}

.hero__img {
    width: 35%;
}