html {
    font-size: 12px;
    background-image: url("../images/main-background.jpg");
}

.page {
    margin: 8px 22px;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

.heading--primary {
    font-family: "Merriweather Bold", serif;
    font-size: 2rem;
}

.btn--primary {
    border: 2px solid #000;
    border-radius: 3px;
}

.hr {
    width: 72px;
    border: 1px solid #000;
    background-color: #000;
}

.header {
    display: flex;
}

.header__heading--primary {
    margin-bottom: -3px;
    color: rgb(141, 0, 141);
    text-transform: capitalize;
}

.header__heading--secondary {
    font-family: "Oswald Light", sans-serif;
    font-size: 0.85rem;
    text-transform: uppercase;
}

.hero {
    display: flex;
    gap: 1rem;
    margin-bottom: 24px;
}

.hero__heading {
    margin: 6px 0;
    word-wrap: unset;
    white-space: nowrap;
}

.hero__img {
    width: 35%;
}

.hero__btn {
    margin: 16px 0;
    padding: 5px 12px;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 600;
}

.team__heading {
    margin-bottom: 12px;
    text-align: center;
    text-transform: capitalize;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 36px 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 18px;

    margin: 16px 0;
    flex-basis: calc(50% - 8px);
    text-align: center;
}

.card__avatar {
    display: inline-block;
    margin: 0 auto;
    width: 84px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 35%);
    -moz-box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 35%);
    box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 35%);
}

.card__name {
    font-weight: 600;
}

.card__description {
    flex-basis: 30%;
    font-family: "Lato Italic", sans-serif;
}

.sign-up {
    margin: 0 -22px;
    padding: 24px 8px;
    background: rgba(76, 0, 112, 0.781);
    /* background: linear-gradient(45deg, rgba(67,0,159,1) 0%, rgba(236,0,91,1) 100%); */
}

.sign-up__heading {
    margin-bottom: 12px;
    text-align: center;
    color: #fff;
}

.sign-up__form {
    display: flex;
    justify-content: space-around;
    margin: 30px 0 8px 0;
}

.sign-up__input {
    flex-basis: 70%;
    border: 2px solid #000;
    border-radius: 3px;
    height: 26px;
}

.sign-up__btn {
    padding: 0 14px;
    font-size: 1rem;
    font-weight: 600;
}

.testimonials {
    margin: 0 -22px;
    padding: 32px 0;
    background: url("../images/testimonials-background.jpg");
    -webkit-box-shadow: 0px 7px 15px 1px rgba(0,0,0,0.5); 
    box-shadow: 0px 7px 15px 1px rgba(0,0,0,0.25);
}

.testimonials > * {
    margin-left: 22px;
    margin-right: 22px;
}

.testimonials .hr {
    margin: 0 auto;
}

.card--testimonial {
    justify-content: space-between;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 36px 0 16px 0;
}

.footer__heading {
    margin-bottom: 8px;
}

.sitemap__heading, .contacts__heading {
    margin-bottom: 4px;
    font-size: 1.3rem;
}

.sitemap__wrapper {
    display: flex;
    gap: 84px;
}

.sitemap a, .contacts a {
    text-decoration: none;
    color: #000;
}

.contacts__wrapper {
    padding-left: 6px;
    display: flex;
    gap: 6px;
}